.Toolbar {
    height: 48px;
    width: 94.8%;
    position: fixed;
    top: 0;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
  
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 70%;
    margin-left: 5px;
}

@media(max-width:499px) {
    .DestopOnly {
        display: none;
    }
    .MobileOnly img {
        margin-top: 15px;
        margin-right: 15px;
    }
    .Toolbar {
        background-color: #F8F8F8;
        left: 0px;
        width: 100%;
       
    }
}

@media(min-width:499px) {
    .MobileOnly {
        display: none;
    }
   
}